body{
    height: 100%;
    background-image: url("https://p.w3layouts.com/demos/oct-2016/09-10-2016/weather_report_widget/web/images/1.jpg");
    background-size:cover;
    background-repeat: repeat;
}