/*-- agileinfo-text --*/
.mainwthreerow {
    width: 25%;

    margin: 2em auto;
    background: rgba(0, 0, 0, 0.34);
    background-size: cover;
    padding: 2em;
}

.agileinfo {
    margin: 0;
    text-align: center;
}
.agileinfo h3 {
    margin: 0;
    font-size: 2em;
    color: #fff;
}
.agileinfo h5 {

    font-size: 0.9em;
    color: #ececec;
    font-weight: 100;
    margin-top: 0.5em;
}
.agileinfo h2 {
    font-size: 8em;
    margin: 0;
    font-weight: 900;
    color: rgba(255, 215, 1, 0.59);
}
.agileinfo h2 span {
    font-weight: 100;
    font-size: 0.5em;
    vertical-align: text-top;
}
.agileinfo h4 {
    font-size: 2em;
    color: #fff;
    letter-spacing: 3px;
    margin-bottom: 2px;
}
.agileinfo h6 {
    font-size: .9em;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 1em;
}

.date {
    font-size: 1.4em;
    color: #fff;
    font-weight: 400;
    line-height: 1.8em;
    margin: 0;
}

@media(max-width:1440px){
    .mainwthreerow {
        width: 27%;
    }
}
@media(max-width:1280px){
    .mainwthreerow {
        width: 31%;
    }
}
@media(max-width:1080px){
    .mainwthreerow {
        width: 35%;
    }
}
@media(max-width:991px){

    h1 {
        font-size: 2.6em;
    }
    .agileinfo h2 {
        font-size: 7em;
    }
    .mainwthreerow {
        width: 40%;
    }
}

@media(max-width:667px){
    .mainwthreerow {
        width: 50%;
    }
}
@media(max-width:600px){
    h1 {
        font-size: 2.4em;
    }
    .agileinfo h6 {
        margin-top: 0.5em;
    }
    .main-agileits {
        padding: 1.5em 0 0;
    }
}
@media(max-width:480px){
    h1 {
        font-size: 2em;
    }
    .mainwthreerow {
        width: 57%;
    }
    .date {
        font-size: 1.2em;
    }
    .w3layouts-slider {
        width: 75%;
    }
}
@media(max-width:414px){
    .agileinfo h2 {
        font-size: 6em;
    }
    .agileinfo h4 {
        font-size: 1.8em;
        letter-spacing: 1px;
    }

    .mainwthreerow {
        padding: 1.5em;
    }

}
@media(max-width:384px){
    h1 {
        font-size: 1.8em;
    }
    .mainwthreerow {
        width: 70%;
    }
}
@media(max-width:320px) {
    h1 {
        font-size: 1.5em;
    }

    .mainwthreerow {
        width: 75%;
        padding: 1em;
    }

    .agileinfo h2 {
        font-size: 5em;
    }

    .agileinfo h4 {
        font-size: 1.4em;
    }

    .agileinfo h6 {
        letter-spacing: 0px;
    }
}